<div class="rusuario">
    <form (ngSubmit)="onSubmit()" class="form">
        <p class="title">Recupera contraseña</p>

        <div class="flex">
            <label>
                <input class="input" type="text" placeholder="" id="olvideNombre" [(ngModel)]="olvideData.NombreUsuario" name="olvidename" required>
                <span>Usuario</span>
            </label>
        </div>

        <p *ngIf="registroError" class="errorMessage">{{ registroError }}</p>
        <button class="submit" type="submit">Continuar</button>
        
        <div *ngIf="mostrarCampos">
            <label>
                <input class="input" type="password" placeholder="" [(ngModel)]="nuevaContrasena" name="nuevaContrasena" required>
                <span>Nueva Contraseña</span>
            </label>
            <label>
                <input class="input" type="password" placeholder="" [(ngModel)]="confirmarContrasena" name="confirmarContrasena" required>
                <span>Confirmar Contraseña</span>
            </label>
            <button class="submit" type="button" (click)="restablecerContrasena()">Restablecer Contraseña</button>
        </div>

        <p class="signin">¿Ya tienes una cuenta? <a href="/login">Inicia Sesión</a></p>
    </form>
</div>

