<div class="main-container">
    <div class="sidebar">
      <button class="btn-agregar">+ Agregar</button>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Subir PDF</a></li>
        <li><a href="#">Mis referencias</a></li>
        <li><a href="#">Destacados</a></li>
        <li><a href="#">Temas</a></li>
        <li><a href="#">Lenguaje</a></li>
      </ul>
    </div>
    <div class="contenido">
      <header class="header">
        <h1 class="titulo">Gestión de Referencias</h1>
        <div class="search-bar">
          <input type="text" placeholder="Buscar..." />
        </div>
        <button class="account-btn">Cuenta</button>
      </header>
      <h1>Bienvenido &lt;Nombre&gt;</h1>
      <div class="button-grid">
        <button class="grid-button">Subir PDF</button>
        <button class="grid-button">Referencias</button>
        <button class="grid-button">Exportar</button>
        <button class="grid-button">Destacados</button>
      </div>
    </div>
  </div>
  